
flowbox {
  background-color: black;
  color: white
} 

#sym {
  font-family: Untitled2;
  font-size:   42px;
}

statusbar {
  background-color: black;
  color: green;
  margin: 0px;
}

*:selected {
  background-color: black;
  color: transparent;
  text-shadow: 0 0 4px rgba(242,242,242,.9);
}

button {
  border-width: 5px;
  border-color: #333333;
  border-radius: 10px;
  margin: 10px;
  font-family: Untitled2;
}

button:hover {
  background: #1166ff;
}
